body {
  font-size: 16px;
  color: #fff;
  background-color: #d6d4c8;
}

/** HEADER **/
#header-nav {
  background-color: #e9a404;
  border-radius: 0;
  border: 0;
  padding-bottom: 25px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  color: #08031f;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list a {
  color: #951C49;
  text-align: center;
  font-weight: bold;
}

#nav-list a:hover {
  background-color:#d6d4c8;
  
}

/*Our menu*/
#menu {
  color: #221a03;
  font-weight: bold;
}

.menu-info {
  background-color: #8b8b89;
  padding: 10px;
}

.big {
  font-size: 1.2em;
  font-weight: bold;
}